<!DOCTYPE html>
<html lang="en">
  <head>
   {{>head}}
   
  </head>
  <body>
    
        {{>nav}}


	    <div class="container">
	      
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          
          <a href="/dl"></a>
	        <span class="oi oi-menu"></span>
	      </button>

   <div class="row">
      <div class="col-lg-12 col-lg-4 menu-wrap">
          <div class="heading-menu text-center ftco-animate">
        			<p class="fw-light">Graphical Abstract</p>
        	</div>
        <img src="/images/1_graphicalAbstract.png" style="width:100%">
      </div>

      <div class="col-lg-12 col-lg-4 menu-wrap">
        <div class="heading-menu text-center ftco-animate">
        		<p class="fw-light"> ANN concept</p>
        </div>
        <img src="/images/2_newANNRNNLSTM.png" style="width:100%">
      </div>

      <div class="col-lg-12 col-lg-4 menu-wrap">
        <div class="heading-menu text-center ftco-animate">
        		<p class="fw-light"> LSTM and MLP used in the study</p>
        </div>
        <img src="/images/3_NNLSTMNN.png" style="width:100%">
      </div>
      <div class="col-lg-12 col-lg-4 menu-wrap">
        <div class="heading-menu text-center ftco-animate">
        		<p class="fw-light"> Experimental data extracted & schematic</p>
        </div>
        <img src="/images/4_setupTogetherWithPictures.png" style="width:100%">
      </div>
        <div class="col-lg-12 col-lg-4 menu-wrap">
          <div class="heading-menu text-center ftco-animate">
        		<p class="fw-light"> NN prediction of efficiencies</p>
        </div>
        <img src="/images/5_chargingEffpredictedMeasured.png" style="width:100%">
      </div>
      <div class="col-lg-12 col-lg-4 menu-wrap">
        <div class="heading-menu text-center ftco-animate">
        		<p class="fw-light"> NN prediction of Temperatures</p>
        </div>
        <img src="/images/6_allInOne1.png" style="width:100%">
      </div>
    </div>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
			<div class="container">
				<div class="row d-flex">
          <div class="col-md-7 ftco-animate makereservation p-4 p-md-5">
          	<div class="heading-section ftco-animate mb-5">
	          	<span class="subheading">DL application in tem. prediction</span>
              <h2 class="mb-4">Something about the project</h2>
              <p>{{global.Projec_1}}</p>
              <a href="https://github.com/yogenderPalChandra/jospehus_DL" target="_blank">[GitHub code ](Chandra, [GitHub code], 2021)</a>
	          </div>
          </div>
        </div>
			</div>
		</section>


        
        {{>scripts}}
  </body>
</html>