<!DOCTYPE html>
<html lang="en">
  <head>
   {{>head}}
   
  </head>
  <body>
    
        {{>nav}}


	    <div class="container">
	      
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          
          <a href="/RaspberryPi"></a>
	        <span class="oi oi-menu"></span>
	      </button>

   <div class="row">
      <div class="column">
        <img src="/images/Modbuss.png" style="width:100%">
      </div>

      <div class="column">
        <img src="/images/BlockDiagram.jpg" style="width:100%">
      </div>
    </div>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
			<div class="container">
				<div class="row d-flex">
          <div class="col-md-7 ftco-animate makereservation p-4 p-md-5">
          	<div class="heading-section ftco-animate mb-5">
	          	<span class="subheading">Raspberry Pi data pipe line</span>
              <h2 class="mb-4">Something about the project</h2>
              <p>{{global.Projec_1}}</p>
              <a href="https://github.com/yogenderPalChandra/rpi1_rpi2_FLASK_Heroku" target="_blank">[GitHub code ](Chandra, [GitHub code], 2021)</a>
	          </div>
          </div>
        </div>
			</div>
		</section>


        
        {{>scripts}}
  </body>
</html>